@model PatientTracker.Models.MedicalTestDL

@{
    ViewBag.Title = "DeleteDoctorPatient";
}
<style>
    body {
        background-color: lightskyblue;
    }
</style>
<h2>Delete Doctor Patient</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doctors.DoctorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctors.DoctorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.doctors.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctors.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.patients.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patients.PatientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.patients.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patients.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfTestAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfTestAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestCompletedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCompletedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Treatment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treatment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
