@model IEnumerable<PatientTracker.Models.MedicalTestDL>

@{
    ViewBag.Title = "AdminPatientTestInfo";
}
<style>
    body {
        background-color: lightskyblue;
    }
</style>
<h2>Admin PatientTest Info</h2>


<table class="table table-bordered table-responsive table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctors.DoctorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctors.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patients.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.patients.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTestAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestStatus)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TestId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.doctors.DoctorId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.doctors.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.patients.PatientId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.patients.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TestType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DoctorType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfTestAppointment)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TestStatus)
    </td>

    <td>
        @Html.ActionLink("Edit", "EditPatientTest", new { id = item.TestId }) |
        @Html.ActionLink("Details", "PatientTestDetails", new { id = item.TestId }) |
        @Html.ActionLink("Delete", "PatientTestDelete", new { id = item.TestId }) |
        @Html.ActionLink("Create Bill", "TestPrescriptionDetails", new { id = item.TestId })
    </td>
</tr>
}

</table>
<div>
    <b>@Html.ActionLink("Back to List","AdminUserInfo")</b>
</div>